<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="dotnet-public" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-public/nuget/v3/index.json" />
    <add key="dotnet-myget-legacy" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/myget-legacy/nuget/v3/index.json" />
    <add key="vs" value="https://pkgs.dev.azure.com/azure-public/vside/_packaging/msft_consumption/nuget/v3/index.json" />
  </packageSources>

  <packageSourceMapping>
    <packageSource key="dotnet-public">
      <package pattern="*" />
    </packageSource>
    <packageSource key="dotnet-myget-legacy">
      <package pattern="Microsoft.Extensions.CommandLineUtils.Sources" />
    </packageSource>
    <packageSource key="vs">
      <package pattern="Microsoft.Test.Apex.VisualStudio" />
      <package pattern="Microsoft.VisualStudio.Internal.MicroBuild" />
      <package pattern="Microsoft.WebTools.Languages.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
