# Naming rules - async methods to be prefixed with Async
dotnet_naming_rule.async_methods_must_end_with_async.severity   = warning
dotnet_naming_rule.async_methods_must_end_with_async.symbols    = method_symbols
dotnet_naming_rule.async_methods_must_end_with_async.style      = end_in_async_style

dotnet_naming_symbols.method_symbols.applicable_kinds           = method
dotnet_naming_symbols.method_symbols.required_modifiers         = async

# Naming Styles
dotnet_naming_style.end_in_async_style.capitalization           = pascal_case
dotnet_naming_style.end_in_async_style.required_suffix          = Async
