trigger:
  branches:
    include: ["main", "rel/*"]
  paths:
    exclude: ["*.md"]

variables:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  BuildConfiguration: Release
  BuildPlatform: Any CPU

jobs:
  - job: Windows
    pool: VSEngSS-MicroBuild2019
    steps:
      - template: build.yml
