trigger:
  branches:
    include: ["main", "rel/*"]
  paths:
    exclude: ["*.md"]

variables:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  BuildConfiguration: Release
  BuildPlatform: Any CPU
  Packaging.EnableSBOMSigning: true
  Codeql.Enabled: true

jobs:
  - job: Windows
    pool: VSEngSS-MicroBuild2022-1ES
    steps:
      - template: build.yml
